html {
  font-family    : 'Miriam Libre', sans-serif;
  text-transform : uppercase;
  font-weight    : 800;
  min-width      : 320px;
}

p {
  font-family    : 'Roboto Condensed', sans-serif;
  text-transform : none;
  font-weight    : 400;
}

body {
  overflow-y      : scroll;
  background      : url("/images/wallpaper.jpg") no-repeat center 0 fixed;
  background-size : cover;

  display         : flex;
  min-height      : 100vh;
  flex-direction  : column;
}

main {
  flex : 1 0 auto;
}

.clear {
  clear : both;
}

