.footer {
  float      : left;
  width      : 100%;
  margin     : 0 0 5px 0;
  padding    : 0;
  text-align : center;
  li {
    display    : inline-block;
    list-style : none;
    margin     : 0;
    padding    : 5px;
    font-size  : 12px;
  }
}

.copyright {
  float         : left;
  width         : 100%;
  padding       : 10px;
  text-align    : center;
  font-size     : 12px;
  margin-bottom : 10px;
}