
.col.parent {
  padding : 0;
}

.hide-on-desktop {
  @media #{$medium-and-up} {
    display : none !important;
  }
}

.hide-on-mobile {
  display : none !important;
  @media #{$large-and-up} {
    display : block !important;
  }
}

.row .col.full-width-exception {
  @media #{$large-and-up} {
    width : 100%;
  }
  @media only screen and (min-width : 1150px) {
    width : 50%;
  }
}