<template>
    <li>
        <div class="label grey-text"><h5>{{ title }}</h5></div>
        <div class="data white-text">
            <h5>{{ data }}</h5>
            <div v-show="list_loading">
                <!--<div class="indeterminate"></div>-->
                loading...
            </div>
        </div>
    </li>
</template>

<script>
    export default {
        props: ['title', 'data'],
        data() {
            return {
                list_loading: true
            }
        },
        updated(){
            this.list_loading = false;
        }
    }
</script>