<template>
    <div>
        <h6 class="stat-title">{{ title }}</h6>
        <div class="stat-value">
            <h4 :class="getColour(data, colour, title)">{{ data }}</h4>
            <div v-show="total" class="grey-text"><h5 >({{ total }})</h5></div>
        </div>

        <div v-show="stats_loading && hide_loading !== true">
            loading...
        </div>

    </div>
</template>

<script>
    export default {
        props: ['title', 'data', 'total', 'hide_loading', 'colour'],
        methods: {
            getColour: function(total, colour, title){
                if(colour) {
                    switch (title) {
                        case "abandons":
                            return "red-text";
                            break;
                        case "deaths":
                            if (total == 0) {
                                return "green-text";
                            } else {
                                return "red-text";
                            }
                            break;
                        case "losses":
                            if (total == 0) {
                                return "green-text";
                            } else {
                                return "red-text";
                            }
                            break;
                        case "points":
                            if (total > 0) {
                                return "green-text";
                            }
                            if (total < 0) {
                                return "red-text";
                            }
                            break;
                        case "kd":
                            return "white-text";
                            break;
                        case "wl":
                            return "white-text";
                            break;
                        default:
                            if (total >= 0) {
                                return "green-text";
                            }
                            if (total < 0) {
                                return "red-text";
                            }
                            break;
                    }
                }
            }
        },
        data() {
            return {
                stats_loading: true,
            }
        },
        updated(){
            this.stats_loading = false;
        }
    }
</script>