#blog-posts {
  .main-title {
    font-size     : 28px;
    margin-bottom : 10px;
  }
  .meta {
    float      : left;
    width      : 100%;
    margin-top : 10px;
  }
  .card {
    img {
      max-width : 60%;
      height    : auto;
      @extend .z-depth-3
    }
    img:not(.aligncenter):not(.alignleft):not(.alignright) {
      max-width : 100%;
      margin    : 0 0 10px 0;
    }
    .alignleft {
      float         : left;
      margin-right  : 10px;
      margin-bottom : 10px;
    }
    .alignright {
      float         : right;
      margin-left   : 10px;
      margin-bottom : 10px;
    }
    h2 {
      margin     : 0;
      background : rgba(0, 0, 0, 0.5);
      &.no-image {
        background    : transparent;
        margin-bottom : 10px;
      }
    }
    h6 {
      font-size : 1rem;
      margin    : 0 !important;
    }
    blockquote {
      padding    : 0;
      font-style : italic;
    }
  }

  ul, ol {
    list-style-type : disc;
    padding         : 0 0 0 20px;
    .active {
      color : $secondary-color !important;
    }
  }

}

.facebook-feed {
  margin-top : 10px;
  float      : left;
  width      : 100%;
}