#blog-posts ul.breadcrumbs {
  float   : left;
  width   : 100%;
  padding : 0;
  margin  : 0;
  li {
    display : inline-block;
    padding : 0 5px 0 0;
    margin  : 0;
    a {
      color : white;
      &:hover {
        color : $secondary-color;
      }
    }
    &:last-of-type {
      a {
        color : $secondary-color;
      }
    }
  }
}