.green-text {
  .no-colours {
    clear     : both;
    width     : 100%;
    float     : left;
    color     : gray !important;;
    //font-size : 13px;
  }
}

.red-text {
  .no-colours {
    clear     : both;
    float     : left;
    width     : 100%;
    color     : gray !important;;
    //font-size : 13px;
  }
}

.no-colours .green-text, .no-colours.green-text, .no-colours.red-text {
  color : inherit !important;
}