.info-list {
  float         : left;
  width         : 100%;
  margin-top    : 20px;
  overflow      : hidden;
  padding-right : 10px;

  h6 {
    cursor : pointer;

  }
  .fa {
    float      : right;
    margin-top : 3px;
  }

  $mq : only screen and (max-width : #{$small-screen-up});
  @media #{$mq} {
    > h5 {
      font-size : 18px;
    }
  }

  @media #{$large-and-up} {
    width : 100%;
  }

  div.label {
    width : 100%;
    float : left;
  }
  div.data {
    width : 100%;
    float : left;
  }

  @media #{$medium-and-up} {
    div.label {
      width : 60%;
      float : left;
    }
    div.data {
      width         : 40%;
      float         : left;
      padding-right : 10px;
    }
  }

  &.primary {
    width      : 100%;
    margin-top : 0;

    ul {
      float : left;
      width : 100%;
    }
    li {
      float   : left;
      width   : 100%;
      padding : 3px 0;
    }
  }

  ul.collapsible {
    border : 0;
    width  : 100%;

    @media #{$medium-and-up} {
      > li {
        width : 50% !important;
        float : left;
      }
    }

    @media #{$large-and-up} {
      > li {
        width : 100% !important;
      }
    }

    li,
    li .collapsible-header,
    li .collapsible-body {
      float  : left;
      width  : 100%;
      border : 0;
      h6 {
        padding     : 20px 0 20px 0;
        position    : relative;
        line-height : 1;
        .fa {
          position : absolute;
          right    : -10px;
          top      : 5px;
        }
      }
    }
    li .collapsible-header {
      border  : 0;
    }
    li .collapsible-body {
      padding-left  : 0;
      padding-right : 0;
      li {
        padding : 3px 0;
      }
    }
    li h6:after {
      font-family : FontAwesome;
      content     : "\f067";
      float       : right;

      @media #{$medium-and-up} {
        display : none;
      }
    }
    li .active h6:after {
      font-family : FontAwesome;
      content     : "\f068";
      float       : right;

      @media #{$medium-and-up} {
        display : none;
      }
    }
  }

}

.card-content {
  overflow : hidden;
}

