.r6-symbol {
  width         : auto;
  max-height    : 30px;
  margin-bottom : -10px;
}

nav .brand-logo {
  font-size   : 14px;
  font-weight : 800;
  line-height : 2.2;
  margin      : 0 0 11px 0;
  padding     : 15px 15px 15px 7px;

  @media (min-width : 993px) {
    margin : 0 15px 11px 15px;
  }

  span {
    padding-left : 5px;
    @media (max-width : 400px) {
      display : none;
    }
  }
  span.only-on-mobile {
    display : none;
    @media (max-width : 400px) {
      display : inline-block;
    }
  }
}