nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height : auto;
  //line-height : inherit;

  @media (min-width : 992px) {
    //height : 84px;
  }
}

nav .nav-wrapper i {
  line-height : inherit;
}

nav {
  margin-bottom : 20px;

  .link--login,
  .link--register,
  .link--logout,
  .link--account {
    span {
      @media (min-width : 992px) and (max-width : 1550px) {
        display : none;
      }
    }
  }

  ul#main-menu, ul#account-menu {
    span {
      @media (max-width : 768px) {
        display : none;
      }
      @media (min-width : 992px) and (max-width : 1340px) {
        display : none;
      }
    }
  }

}

//
//nav#header {
//  margin-bottom : 15px;
//  height        : auto;
//}
//
//.nav-wrapper {
//  .row {
//    margin-bottom : 0;
//  }
//}
//
//nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
//  height      : 84px;
//  line-height : 84px;
//}
//
//#nav-mobile {
//  width       : 100%;
//  text-align  : right;
//  line-height : 1;
//
//  @media (max-width : 480px) {
//    padding : 0;
//  }
//
//  li {
//    display     : inline-block;
//    float       : none;
//    line-height : 1;
//    a {
//      padding : 0 10px;
//    }
//  }
//  span {
//    @media (max-width : 768px) {
//      display : none;
//    }
//    @media (min-width : 992px) and (max-width : 1220px) {
//      display : none;
//    }
//  }
//
//  .link--logout,
//  .link--account {
//    span {
//      @media (min-width : 992px) and (max-width : 1550px) {
//        display : none;
//      }
//    }
//  }
//
//  i {
//    height      : auto;
//    line-height : 78px;
//  }
//}