.pagination {
  float      : left;
  width      : 100%;
  text-align : center;
  li {
    display : inline-block;
    a, span {
      background  : $secondary-color;
      color       : black;
      display     : block;
      padding     : 0 10px;
      line-height : 30px;
      font-size   : 1.2rem;
    }
    &:hover,
    &.active {
      a, span {
        background : black;
        color      : $secondary-color;
      }
    }
  }
}