.rankicons {
  margin: 20px 0 20px 0 !important;

  @media #{$medium-and-up} {
    margin: 20px 0 50px 0 !important;
  }
}

.Not_ranked_yet {
  display: none !important;
}

.iconBox {
  cursor: pointer;
  outline: 0;
  //display     : none;
  text-align: center;
  padding-top: 18px;

  .score-diff {
    display: block;
  }

  .current-score {
    display: none;
  }
}

.slick-current .iconBox {
  padding-top: 0px;
  font-size: 20px;

  //.score-diff { display:none; }
  //.current-score { display:block; }

  .rankName {

  }

  .rankScore {
    font-size: 15px;
    line-height: 1;
  }

  .icon {
    opacity: 1;
  }

  h6 {
    font-size: $h5-fontsize !important;
  }
}

.slick-slide .icon {
  opacity: 0.4;
}

.icon {

  width: 120px;
  height: 120px;
  margin: 0px auto 10px auto;

  border-radius: 50%;
  background: url('/images/rankicons.jpg') no-repeat;

  &.Copper_IV {
    background-position: -19px -25px;
  }

  &.Copper_III {
    background-position: -143px -25px;
  }

  &.Copper_II {
    background-position: -266px -25px;
  }

  &.Copper_I {
    background-position: -389px -25px;
  }

  &.Bronze_IV {
    background-position: -19px -259px;
  }

  &.Bronze_III {
    background-position: -143px -259px;
  }

  &.Bronze_II {
    background-position: -266px -259px;
  }

  &.Bronze_I {
    background-position: -389px -259px;
  }

  &.Silver_IV {
    background-position: -19px -474px;
  }

  &.Silver_III {
    background-position: -143px -474px;
  }

  &.Silver_II {
    background-position: -266px -474px;
  }

  &.Silver_I {
    background-position: -388px -474px;
  }

  &.Gold_IV {
    background-position: -19px -713px;
  }

  &.Gold_III {
    background-position: -143px -713px;
  }

  &.Gold_II {
    background-position: -266px -713px;
  }

  &.Gold_I {
    background-position: -388px -713px;
  }

  &.Platinum_III {
    background-position: -19px -933px;
  }

  &.Platinum_II {
    background-position: -143px -933px;
  }

  &.Platinum_I {
    background-position: -266px -933px;
  }

  &.Diamond {
    background-position: -388px -933px;
  }

  &.Champion {
    background: #161719 url('/images/champion-icon.png') no-repeat center 7px;
    background-size: 68%;
  }

  &.small {
    width: 65px;
    height: 65px;
  }

  // Small versions
  &.Copper_IV.small {
    background-position: -46px -148px;
  }

  &.Copper_III.small {
    background-position: -171px -148px;
  }

  &.Copper_II.small {
    background-position: -293px -148px;
  }

  &.Copper_I.small {
    background-position: -416px -384px;
  }

  &.Bronze_IV.small {
    background-position: -46px -384px;
  }

  &.Bronze_III.small {
    background-position: -171px -384px;
  }

  &.Bronze_II.small {
    background-position: -293px -384px;
  }

  &.Bronze_I.small {
    background-position: -416px -384px;
  }

  &.Silver_IV.small {
    background-position: -46px -606px;
  }

  &.Silver_III.small {
    background-position: -171px -606px;
  }

  &.Silver_II.small {
    background-position: -293px -606px;
  }

  &.Silver_I.small {
    background-position: -416px -606px;
  }

  &.Gold_IV.small {
    background-position: -46px -832px;
  }

  &.Gold_III.small {
    background-position: -171px -832px;
  }

  &.Gold_II.small {
    background-position: -293px -832px;
  }

  &.Gold_I.small {
    background-position: -416px -832px;
  }

  &.Platinum_III.small {
    background-position: -47px -1053px;
  }

  &.Platinum_II.small {
    background-position: -171px -1053px;
  }

  &.Platinum_I.small {
    background-position: -293px -1053px;
  }

  &.Diamond.small {
    background-position: -416px -1053px;
  }

}

.tabs.tabs-fixed-width.black {
  background: #161719 !important;
}

.sampleicon {
  float: left;
}

.slick-dots {
  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4) {
    button:before {
      color: #7f4a00 !important;
    }
  }

  li:nth-child(5),
  li:nth-child(6),
  li:nth-child(7),
  li:nth-child(8) {
    button:before {
      color: #633c20 !important;
    }
  }

  li:nth-child(9),
  li:nth-child(10),
  li:nth-child(11),
  li:nth-child(12) {
    button:before {
      color: #bcbabb !important;
    }
  }

  li:nth-child(13),
  li:nth-child(14),
  li:nth-child(15),
  li:nth-child(16) {
    button:before {
      color: #c5a600 !important;
    }
  }

  li:nth-child(17),
  li:nth-child(18),
  li:nth-child(19),
  li:nth-child(20) {
    button:before {
      color: #b9dbee !important;
    }
  }
}

.slick-dots {
  bottom: -35px;
  width: 100%;
}

.slick-dots li button:before {
  opacity: 0.3;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}