#register-form {
  .btn {
    width : 100%;
  }
}

.box--login,
.box--register
{
  .buttons {
    float : left;
    width : 100%;
    .btn {
      width : 100%;
    }
  }
  .register {
    .buttons .btn {
      float : left;
    }
  }
  .login {
    .buttons .btn {
      float : right;
    }
  }
}

