#player-name {
  padding : 0 0 0 0;
  margin  : 0 0 0 0;
}

#mobile-search {

  clear : both;

  .search-submit-btn {
    width : 100%;
  }

  .select-dropdown {
    margin-bottom : 0 !important;
  }

  .select-wrapper input.select-dropdown {
    border-bottom : 0;
  }

}

.caret {
  color : $secondary-color !important;
}

#search-row {
  margin-top    : 0;
  margin-bottom : 0;

  @media #{$medium-and-down} {
    padding-bottom : 10px;
  }

  .select-wrapper {
    top : 8px;
  }
  .select-wrapper input.select-dropdown {
    border-bottom : 0;
  }
  .btn {
    padding-left  : 0;
    padding-right : 0;
  }

  #player-name {
    margin-top : 16px;
  }

}

//#mobile-search {
//  margin-top     : 0;
//  padding-bottom : 10px;
//  #player-name {
//    padding-top : 0;
//    margin-top  : 0;
//  }
//}
//
//#search-player {
//  margin-top : 20px;
//}
//
//#mobile-search,
//#search-player {
//  padding-left  : 10px;
//  padding-right : 10px;
//
//  i.fa.fa-search {
//    height      : auto;
//    line-height : 40px;
//  }
//
//  @media (max-width : 992px) {
//    margin-top : 0px;
//    float      : left;
//    width      : 100%;
//  }
//
//  @media (min-width : 992px) and (max-width : 1340px) {
//    min-width : 400px;
//  }
//
//  input#player-name {
//
//    padding-left : 0;
//    font-size    : 24px;
//    float        : left;
//    width        : 80%;
//    padding-top  : 0;
//
//    @media (min-width : 992px) {
//      height         : 2.55rem;
//      padding-bottom : 6px;
//    }
//
//  }
//
//  button {
//    float                 : right;
//    width                 : 20%;
//    -webkit-border-radius : 0px 3px 3px 0px;
//    -moz-border-radius    : 0px 3px 3px 0px;
//    border-radius         : 0px 3px 3px 0px;
//    height                : 3rem;
//  }
//}