.icon-container {
  margin  : auto;
  height  : 100%;
  width   : 40%;
  padding : 40px 0;
  @media (min-width : 480px) and (max-width : 1550px) {
    display       : flex;
    align-content : space-between;
    width         : 80%;
    padding       : 0;
  }
  @media (min-width : 1551px) {
    display       : flex;
    align-content : space-between;
    width         : 60%;
    padding       : 0;
  }
}

img.found {
  opacity : 1 !important;
}

img.not-found {
  opacity : 0.1 !important;
}

.platform-icon {

  width      : 100%;
  text-align : center;
  position   : relative;
  display    : inline-block;

  @media (min-width : 480px) {
    width           : 33.33%;
    padding         : 20px;
    clear           : none;
    float           : left;
    display         : flex;
    align-content   : space-between;
    justify-content : center;
    flex-flow       : row wrap;
    align-items     : flex-start;
  }

  img {
    opacity       : 0.3;
    width         : 100%;
    height        : auto;
    margin-bottom : 10px;
  }

  .progress-container h4 {
    font-size : calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

}