.stats-list {
  ul.collapsible {
    border : 0;
    width  : 100%;

    li,
    li .collapsible-header,
    li .collapsible-body {
      float  : left;
      width  : 100%;
      border : 0;
      h6 {
        padding     : 0;
        position    : relative;
        line-height : 1;
        .fa {
          position : absolute;
          right    : -10px;
          top      : 5px;
        }
      }
    }
    li .collapsible-header {
      border : 0;
    }
    li .collapsible-body {
      padding-left  : 0;
      padding-right : 0;
      li {
        padding : 3px 0;
      }
    }
    li .week-name h6:after {
      font-family : FontAwesome;
      content     : "\f067";
      float       : right;

      @media #{$medium-and-up} {
        display : none;
      }
    }
    li .active .week-name h6:after {
      font-family : FontAwesome;
      content     : "\f068";
      float       : right;

      @media #{$medium-and-up} {
        display : none;
      }
    }
  }
}

#weeks {
  > ul > li > div {
    padding : 10px 10px;
    &.collapsible-header {
      box-shadow    : 0px -1px 5px 0px rgba(0, 0, 0, 0.3);
    }
    &.active {
      background : #0d0d0d !important; 
    }
  }
}

.week-details,
.day-of-week-details {
  .stat.col.m1 {
    @media #{$medium-only} {
      width : calc(100% / 9);
    }
  }
}

.week-name h6 {
  margin : 10px 0 0 0 !important;
}

.dailies-stats {

  .dailies-stats__header {
    float         : left;
    width         : 100%;
    margin-bottom : 20px;
  }

  .heading {
    padding : 0;
  }

  .entry {

    margin-bottom : 20px;
    float         : left;
    width         : 100%;
    padding       : 0;
    border-bottom : 1px solid #505050;

    @media #{$large-and-up} {
      margin-bottom : 10px;
    }

    .day-of-week-details {
      float : left;
      width : 100%;
      > div:nth-child(3n+1) {
        clear : both;
      }

      @media #{$medium-and-up} {
        float : none;
        width : auto;
        > div:nth-child(3n+1) {
          clear : none;
        }
      }

    }

    .not-date {
      border  : 0;
      padding : 0;

      h6 {
        margin : 0;
      }

    }

    .points {
      border  : 0;
      padding : 0;
      .stat-title {
        float        : left;
        margin-right : 5px;
      }
      .stat-value {
        float : right;
      }

      @media #{$large-and-up} {
        .stat-title {
          float        : none;
          margin-right : 5px;
        }
        .stat-value {
          float : none;
        }
      }
    }

  }

}

.week-details {
  margin-bottom : 20px;
}

.day-of-week-details {
  margin-bottom : 0;
}

.day-of-week-details,
.week-details {
  $mq : only screen and (max-width : #{$small-screen-up});
  @media #{$mq} {

    float     : left;
    width     : 100%;
    display   : flex;
    flex-wrap : wrap;

    > div {
      flex-grow     : 1;
      width         : 33.33%;
      margin-bottom : 20px;
    }

    .daily--kills {
      order : 1;
    }
    .daily--deaths {
      order : 2;
    }
    .daily--wins {
      order : 4;
    }
    .daily--losses {
      order : 5;
    }
    .daily--kd-diff {
      order : 3;
    }
    .daily--wl-diff {
      order : 6;
    }
    .daily--kd {
      order : 7;
    }
    .daily--wl {
      order : 8;
    }
    .daily--points {
      order : 9;
    }
  }
}