.info-list ul.collapsible li h6.stat-title {
  margin  : 0;
  padding : 0;
}

.stat.col {
  border-left : 4px solid #ff9800;
  padding     : 0 10px;
  margin      : 0 0 10px 0;

  h4 {
    line-height : 1;
  }

  .small {
    font-size : $h6-fontsize;
  }

}

@media #{$small-and-down}{
  .stat.col.s4.m1.not-date:nth-child(3n +1) {
    clear : both;
  }
}