
#season-links.tabs {
  height : 85px;
  margin : 0 0 10px 0;
  .tab {
    line-height : 85px;
    height      : 85px;
  }
  .indicator {
    background-color : $secondary-color;
  }
}

#season-links.tabs .tab a {
  position : relative;
}

#season-links.tabs span.icon {
  position : absolute;
  right    : 10px;
  top      : 10px;
  display  : none;
  @media #{$large-and-up} {
    display : block;
  }
}

#season-links.tabs .tab a.active {
  background : #212121;
}
