table tr td {
  font-size : 1.2em;
}

.data {
  table tr td {
    font-size : 1.2em;
  }
}

.hide-me {
  display : none;
}

tbody tr:nth-child(odd) {
  background : #282828;
}

tbody tr:nth-child(even) {
  background : #343434;
}