#team-builder {
  .player-names {
    float : left;
    width : 100%;
    .user-links {
      float : left;
      width : 100%;
    }
    input {
      font-size : 22px;
    }
    label {
      left : 0;
    }
  }
  .team-members ul li {
    float : left;
    width : 100%;
    .fa {
      display   : inline-block;
      cursor    : pointer;
      font-size : 30px;
      @media(min-width : 480px) {
        font-size : 50px;
        padding   : 10px;
      }
      &:hover {
        color : $secondary-color;
      }
    }
  }
  .controls {
    float : left;
    width : 100%;
    button {
      width : 48%;
      &:last-of-type {
        float : right;
      }
    }
  }
  .row-controls {
    text-align : right;
    padding    : 20px 0;
    @media(min-width : 480px) {
      padding : 0;
    }
  }

}

#loading {
  margin  : 20px 0;
  clear   : both;
  float   : left;
  display : none;
}

.player-stats {
  float  : left;
  width  : 100%;
  clear  : both;
  margin : 0 0 20px 0;
  .title {
    margin-bottom : 10px;
  }
}