.video-slider {
  margin : 20px 0;
  float  : left;
  width  : 100%;
  .video {
    float   : left;
    width   : 20%;
    padding : 0 10px;
    outline : 0;
  }
}

$mq : only screen and (max-width : #{$medium-screen-up});
@media #{$mq} {

  .season-nav {
    display        : flex;
    flex-direction : column;
  }

  #captures {
    order : 2;
  }

  #player-stats {
    order : 1;
  }

  #season-stats {
    order : 3;
  }
}

.video-link {
  display : block;
}

.video-link,
.video-player-html5 {
  margin-bottom : 10px;
}

.video {
  cursor : pointer;
}