<template>
    <div class="week-details">

        <div v-show="row_content">

            <div v-for="(value, key, index) in data" class="stat col s4 m1 not-date">
                <stat-basic :title="key" :data="value" :total="totals[key]" :colour="true" :hide_loading="true"></stat-basic>
            </div>

            <div v-show="points" class="stat col s4 m1 not-date">
                <stat-basic :title="'Points'" :data="current_points" :total="total_points" :colour="true" :hide_loading="true"></stat-basic>
            </div>

        </div>

        <div v-show="row_loading" class="progress">
            <div class="indeterminate"></div>
        </div>

    </div>
</template>

<script>
    import StatBasic from '../../global/StatBasic.vue';
    export default {
        props: ['data', 'totals', 'points', 'current_points', 'total_points'],
        components: {
            StatBasic
        },
        data() {
            return {
                row_loading: true,
                row_content: false
            }
        },
        updated(){
            this.row_loading = false;
            this.row_content = true;
        }
    }
</script>