<template>

    <div class="col s12 data">

        <div class="card" :class="colour">
            <div class="card-content white-text">
                <div class="col parent s12"><h4 class="card-title">Active 24hr Stats</h4></div>

                <div class="stats-list">
                    <div class="stat col s12 m12 l3 date">
                        <div class="stat-value--date">
                            <h5>Since Yesterday</h5>
                        </div>
                    </div>

                    <row :data="sofar" :totals="currenttotals" :points="true" :current_points="playerStats.mmrSoFar" :total_points="playerInfo.mmr"></row>

                </div>

            </div>
        </div>

    </div>

</template>

<script>
    import StatBasic from '../../global/StatBasic.vue';
    import Row from './Row.vue';
    export default {
        props: ['colour', 'yesterday', 'current', 'sofar', 'sofarseason', 'currentseason', 'playerStats', 'playerInfo', 'currenttotals'],
        components: {
            StatBasic,
            Row
        },
        data(){
            return {
                totalpoints: null
            }
        },
        updated(){
            if (this.currentseason.points > 0) {
                this.totalpoints = this.currentseason.points;
            }
        }
    }
</script>