<template>

    <div class="col s12 data">

        <div class="card" :class="colour">
            <div class="card-content white-text">
                <div class="col parent s12"><h4 class="card-title">Weekly Stats</h4></div>

                <div v-show="week_loading" class="progress">
                    <div class="indeterminate"></div>
                </div>

                <div v-show="week_content" id="weeks" class="stats-list">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li v-for="(week, weekIndex) in weeks">

                            <div class="collapsible-header grey darken-3" :id="'week_' + weekIndex">

                                <div class="week-name col s12 m12 l3 parent">
                                    <h5>Week #{{ getWeekIndex(weekIndex) }}</h5>
                                </div>

                                <div class="week-details">
                                    <div class="stat col s4 m1 not-date daily--kills">
                                        <stat-basic :title="'Kills'" :data="week.totals.kills" :colour="true" :hide_loading="true" :total="getTotal(weekIndex, totals, 'kills')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--deaths">
                                        <stat-basic :title="'deaths'" :data="week.totals.deaths" :colour="true" :hide_loading="true" :total="getTotal(weekIndex, totals, 'deaths')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--wins">
                                        <stat-basic :title="'Wins'" :data="week.totals.wins" :colour="true" :hide_loading="true" :total="getTotal(weekIndex, totals, 'wins')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--losses">
                                        <stat-basic :title="'losses'" :data="week.totals.losses" :colour="true" :hide_loading="true" :total="getTotal(weekIndex, totals, 'losses')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--kd-diff">
                                        <stat-basic :title="'K/D Diff'" :data="week.totals.kddiff" :colour="true" :hide_loading="true" :total="getTotal(weekIndex, totals, 'kddiff')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--wl-diff">
                                        <stat-basic :title="'W/L Diff'" :data="week.totals.wldiff" :colour="true" :hide_loading="true" :total="getTotal(weekIndex, totals, 'wldiff')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--kd">
                                        <stat-basic :title="'KD'" :data="week.totals.kd" :hide_loading="true" :total="getTotal(weekIndex, totals, 'kd')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--wl">
                                        <stat-basic :title="'WL'" :data="week.totals.wl" :hide_loading="true" :total="getTotal(weekIndex, totals, 'wl')"></stat-basic>
                                    </div>
                                    <div class="stat col s4 m1 not-date daily--points">
                                        <stat-basic :title="'points'" :data="week.totals.points" :colour="true" :hide_loading="true" :total="getTotal(weekIndex, totals, 'points')"></stat-basic>
                                    </div>
                                </div>
                            </div>

                            <div class="collapsible-body">

                                <div class="daily-stats" v-for="(day, dayIndex) in week.days" style="clear:both;">

                                    <div class="stat col s12 m12 l3 date">
                                        <div class="stat-value--date">
                                            <h5>{{ day.date }}</h5>
                                        </div>
                                    </div>

                                    <div v-show="week_content">

                                        <div v-for="(value, key, index) in day" class="stat col s4 m1 not-date" v-if="key !== 'date'">
                                            <stat-basic :title="key" :data="value" :colour="true" :total="totals[weekIndex][dayIndex][key]" :hide_loading="true"></stat-basic>
                                        </div>

                                        <div v-show="points" class="stat col s4 m1 not-date">
                                            <stat-basic :title="'Points'" :data="day_points" :colour="true" :total="day_total_points"></stat-basic>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</template>

<script>
    import Row from './Row.vue';
    import StatBasic from '../../global/StatBasic.vue';
    export default {
        props: ['colour', 'username', 'points', 'day_points', 'day_total_points'],
        components: {
            Row,
            StatBasic
        },
        methods: {
            getWeekIndex: function(index){
                return (Object.keys(this.weeks).length - index) + 1;
            },
            getTotal: function (weekIndex, totals, type) {

                var week = Object.values(totals)[weekIndex - 1];
                if (typeof week === "object") {

                    var first = Object.values(week)[0];

                    switch (type) {
                        case "kills":
                            return first.kills;
                            break;
                        case "deaths":
                            return first.deaths;
                            break;
                        case "wins":
                            return first.wins;
                            break;
                        case "losses":
                            return first.losses;
                            break;
                        case "kddiff":
                            return first.kills - first.deaths;
                            break;
                        case "wldiff":
                            return first.wins - first.losses;
                            break;
                        case "kd":
                            return +(first.kills / first.deaths).toFixed(3);
                            break;
                        case "wl":
                            return +(first.wins / first.losses).toFixed(3);
                            break;
                        case "points":
                            return first.points;
                            break;
                    }
                }


            }
        },
        data(){
            return {
                week_content: false,
                week_loading: true,
                weeks: {},
                totals: {},
                isFirst: function (index) {
                    return index == 1;
                }
            }
        },
        mounted(){
            axios.get('/get/weeks/' + this.username).then(response => {
                this.weeks = response.data.weekly;
                this.totals = response.data.totals;
            });
        },
        updated(){
            this.week_loading = false;
            this.week_content = true;
        }
    }
</script>