// 1. Colors
// ==========================================================================

$primary-color: color("teal", "darken-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 5%) !default; 

$secondary-color: color("cyan", "darken-1") !default;
//$secondary-color: color("red", "darken-3") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: $primary-color !default;

// Headings and Titles
// ==========================================================================

h4 {
  color: white;
}

h4.card-title {
  color: $secondary-color;
}

h6 {
  color: $primary-color-light
}

.slick-slide h6 {
  color: white;
}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 20%);
  }
}
