html {
  font-family : 'Oswald', sans-serif !important;
}

p {
  margin-bottom : 10px !important;
  font-size     : 17px;
  line-height   : 1.5;
}

.title {
  margin-bottom : 10px !important;
}

hr {
  border : 1px solid $secondary-color;
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type {
  margin-top : 0;
  #welcome & {
    margin-bottom : 1.4rem;
  }
  #blog & {
    margin-bottom : 1.4rem;
  }
  #blog-posts & {
    margin-bottom : 1.4rem;
  }
}

.card-content, .card-action {
  h1:first-of-type,
  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  h5:first-of-type,
  h6:first-of-type {
    margin-top    : 0;
    margin-bottom : 0;
    #blog & {
      margin-bottom : 1.4rem;
    }
    #blog-posts & {
      margin-bottom : 1.4rem;
    }
    #welcome & {
      margin-bottom : 1.4rem;
    }
  }

}

.stat-value h4,
.stat-value--no-colour h4 {
  font-size : $h5-fontsize !important;

  @media #{$medium-and-up}{
    font-size : $h5-fontsize !important;
  }
  @media #{$large-and-up}{
    font-size : $h5-fontsize !important;
  }
  @media #{$extra-large-and-up}{
    font-size : $h3-fontsize !important;
  }

}

.stat-value--date h5 {
  font-size : $h6-fontsize !important;

  @media #{$medium-and-up}{
    font-size : $h6-fontsize !important;
  }
  @media #{$large-and-up}{
    font-size : $h6-fontsize !important;
  }
  @media #{$extra-large-and-up}{
    font-size : $h5-fontsize !important;
  }

}

.stat-value h5,
.stat-value--no-colour h5 {
  font-size : $h6-fontsize !important;

  @media #{$medium-and-up}{
    font-size : $h6-fontsize !important;
  }
  @media #{$large-and-up}{
    font-size : $h6-fontsize !important;
  }
  @media #{$extra-large-and-up}{
    font-size : $h5-fontsize !important;
  }

}

h6.stat-title {
  font-size : $h6-fontsize !important;

  @media #{$medium-and-up}{
    font-size : $h6-fontsize !important;
  }
  @media #{$large-and-up}{
    font-size : $h6-fontsize !important;
  }
  @media #{$extra-large-and-up}{
    font-size : $h6-fontsize !important;
  }

}
