//@import "variables";
//@import "bootswatch";
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
//@import url(https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Roboto+Condensed:300,400,700|Open+Sans|Oswald);
@import "../js/libraries/slick-1.6.0/slick/slick.css";
@import "../js/libraries/slick-1.6.0/slick/slick-theme.css";
@import "../css/font-awesome.min.css";
//@import "../css/responsive-tables.css";
@import "libraries/materialize/sass/materialize";

*, *:before, *:after {
  box-sizing : border-box;
}

#app, .nav-wrapper, footer {
  display : block !important;
}

@import "theme";

//@import "theme/siege";

//@import "../js/libraries/slick-1.6.0/slick/slick.css";
//@import "../js/libraries/slick-1.6.0/slick/slick-theme.css";
//
//@import url(https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Roboto+Condensed:300,400,700);
////@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//
//// Variables
//@import "variables";
//@import "bootswatch";
//
//// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//// @import "node_modules/materialize-css/sass/materialize";
//
//// Tracker
//@import "theme/siege";
//
