<template>
    <div class="col s12">
        <div class="card" :class="colour">
            <div class="card-content white-text">
                <h4 class="card-title">Api Status</h4>
                <div class="col stat s12 l6 parent">
                    <stat-basic :title="'API Status'"></stat-basic>
                </div>
                <div class="entry stat col s12 l6 parent api-time">
                    <stat-basic :title="'Minutes before next API Check'"></stat-basic>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StatBasic from '../global/StatBasic.vue';
    export default {
        props: ['colour'],
        components: {
            StatBasic
        }
    }
</script>