<template>
    <div class="col s12">
        <div class="card" :class="colour">
            <div class="card-content white-text">
                <h4 class="card-title">Database Status</h4>
                <div class="entry stat col s12 l3 parent">
                    <stat-basic :title="'Total Players Tracked'"></stat-basic>
                </div>
                <div class="entry stat col s12 l3 parent">
                    <stat-basic :title="'Total Days Tracked'"></stat-basic>
                </div>
                <div class="entry stat col s12 l6 parent snapshot-time">
                    <stat-basic :title="'Time Until Next Daily Snapshot'"></stat-basic>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StatBasic from '../global/StatBasic.vue';
    export default {
        props: ['colour'],
        components: {
            StatBasic
        }
    }
</script>