<template>
    <div class="col s12">
        <div class="card" :class="colour">
            <div class="card-content white-text">
                <h4 class="card-title">Overall Deadliest Day</h4>
                <h3>{{ day }}</h3>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['colour'],
        data(){
            return {
                day: ""
            }
        },
        mounted(){
            axios.get('/get/stat/deadliestday').then(response => {
                this.day = response.data;
            });
        }
    }
</script>