<template>
    <div class="col s12">
        <div class="card" :class="colour">
            <div class="card-content white-text">
                <h4 class="card-title">Leaderboard - Season Wins</h4>

                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Wins</th>
                        <th>Hours</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="(player, index) in players">
                        <td>{{index + 1}} <a :href="'/player/' + player.platform + '/' + player.username">{{ player.username }}</a></td>
                        <td>{{ player.wins }}</td>
                        <td>{{ +(player.playtime_ranked / 60 / 60).toFixed(2) }} hrs</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['colour'],
        data() {
            return {
                players: {}
            }
        },
        mounted(){
            axios.get('/get/leaderboards/seasonwins').then(response => {
                this.players = response.data;
            });
        }
    }
</script>