.hide-on-mobile {
  @media screen and (max-width : 480px) {
    display : none;
  }
}

.show-on-mobile {
  @media screen and (min-width : 480px) {
    display : none;
  }
}

.hide-me {
  display : none;
}
