.rankicons {
  //background-color : #161719 !important;
  margin : 20px 0;
}

.iconBox {
  cursor     : pointer;
  outline    : 0;
  display    : none;
  text-align : center;
}

.icon {

  width         : 120px;
  height        : 120px;
  margin        : 0px auto 10px auto;

  border-radius : 50%;
  background    : url('/images/rankicons.jpg') no-repeat;

  &.above, &.below, &.fade {
    opacity : 0.4;
  }

  &.Copper_IV {
    background-position : -19px -25px;
  }
  &.Copper_III {
    background-position : -143px -25px;
  }
  &.Copper_II {
    background-position : -266px -25px;
  }
  &.Copper_I {
    background-position : -389px -25px;
  }
  &.Bronze_IV {
    background-position : -19px -259px;
  }
  &.Bronze_III {
    background-position : -143px -259px;
  }
  &.Bronze_II {
    background-position : -266px -259px;
  }
  &.Bronze_I {
    background-position : -389px -259px;
  }
  &.Silver_IV {
    background-position : -19px -476px;
  }
  &.Silver_III {
    background-position : -143px -476px;
  }
  &.Silver_II {
    background-position : -266px -476px;
  }
  &.Silver_I {
    background-position : -388px -476px;
  }
  &.Gold_IV {
    background-position : -19px -713px;
  }
  &.Gold_III {
    background-position : -143px -713px;
  }
  &.Gold_II {
    background-position : -266px -713px;
  }
  &.Gold_I {
    background-position : -388px -713px;
  }
  &.Platinum_III {
    background-position : -19px -933px;
  }
  &.Platinum_II {
    background-position : -143px -933px;
  }
  &.Platinum_I {
    background-position : -266px -933px;
  }
  &.Diamond {
    background-position : -388px -933px;
  }

  &.small {
    width  : 65px;
    height : 65px;
  }

  // Small versions
  &.Copper_IV.small {
    background-position : -45px -148px;
  }
  &.Copper_III.small {
    background-position : -169px -148px;
  }
  &.Copper_II.small {
    background-position : -291px -148px;
  }
  &.Copper_I.small {
    background-position : -412px -384px;
  }
  &.Bronze_IV.small {
    background-position : -45px -384px;
  }
  &.Bronze_III.small {
    background-position : -169px -384px;
  }
  &.Bronze_II.small {
    background-position : -291px -384px;
  }
  &.Bronze_I.small {
    background-position : -412px -384px;
  }
  &.Silver_IV.small {
    background-position : -45px -606px;
  }
  &.Silver_III.small {
    background-position : -169px -606px;
  }
  &.Silver_II.small {
    background-position : -291px -606px;
  }
  &.Silver_I.small {
    background-position : -414px -606px;
  }
  &.Gold_IV.small {
    background-position : -46px -832px;
  }
  &.Gold_III.small {
    background-position : -169px -832px;
  }
  &.Gold_II.small {
    background-position : -291px -832px;
  }
  &.Gold_I.small {
    background-position : -414px -832px;
  }
  &.Platinum_III.small {
    background-position : -46px -1053px;
  }
  &.Platinum_II.small {
    background-position : -169px -1053px;
  }
  &.Platinum_I.small {
    background-position : -291px -1053px;
  }
  &.Diamond.small {
    background-position : -414px -1053px;
  }

}

.sampleicon {
  float : left;
}

