#search-player {
  float  : left;
  width  : 100%;
  margin : 0 0 10px 0;
  input {
    width       : 80%;
    margin      : 0;
    float       : left;
    padding     : 7px;
    height      : 50px;
    border      : 0;
    line-height : 1em;
    @media (max-width : $screen-phone) {
      width : 70%;
    }
  }
  button {
    width          : 20%;
    margin         : 0;
    float          : left;
    padding        : 7px;
    height         : 50px;
    border         : 0px !important;
    font-weight    : 600;
    text-transform : uppercase;
    @media (max-width : $screen-phone) {
      width : 30%;
    }
  }
}