table, .table {
  margin-top    : 20px;
  margin-bottom : 40px;
  text-align    : left;
  color         : #878787;
}

table th {
  color          : white;
  font-size      : 13px;
  font-weight    : 600;
  text-align     : center;
  text-transform : uppercase;
  vertical-align : middle !important;
}

table td, .table td {
  vertical-align : middle !important;
  text-align     : center;
  @media (max-width : $screen-phone) {
    font-size : 13px;
  }
}

tr.bold td {
  font-weight : bold;
  color       : white !important;
  @media (max-width : $screen-phone) {
    font-size : 13px;
  }
}

.totals {
  background     : transparent;
  color          : #a8a1a7;
  font-weight    : 600;
  text-transform : uppercase;
  border         : 0px !important;
  td {
    border : 0px !important;
  }
}

.first-total {
  td {
    border-top : 1px solid #333333 !important;
  }
}

.total-label {
  font-weight : bold;
  font-size   : 13px;
  color       : white !important;
}

.table-wrapper {
  margin-top : 10px;
  border     : 0px !important;
}

.pinned {
  background : transparent;
  border     : 0px;
}