<template>

    <ul id="players" style="display:none;">
        <li v-for="player in players">
            <a v-bind:href="getUrl(player.username, player.platform)">{{ player.username }}</a>
        </li>
    </ul>

</template>

<script>
    export default {
        data() {
            return {
                players,
                getUrl: function (player, platform) {
                    var url = "/player/" + platform + "/" + player;
                    return url;
                },
            }
        },
        mounted() {
            axios.get('/get/players').then(response => {

                setTimeout(function () {

                    var loader = document.getElementById('preloader');
                    loader.style.display = "none";

                    var playersList = document.getElementById('players');
                    playersList.style.display = "block";

                }, 500);

                this.players = response.data;
            });
        }
    }
</script>
