<template>
    <div>
        <div class="col parent s12"><h4 class="card-title">Overall Casual Stats</h4></div>
        <div class="ratios">
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Kills'" :data="playerStats.all.casualpvp_kills"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Deaths'" :data="playerStats.all.casualpvp_death"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'K/D Diff'" :data="playerStats.casual_kddiff" :colour="true"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'K/D'" :data="playerStats.casual_kd"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Wins'" :data="playerStats.all.casualpvp_matchwon"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Losses'" :data="playerStats.all.casualpvp_matchlost"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'W/L Diff'" :data="playerStats.casual_wldiff" :colour="true"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'W/L'" :data="playerStats.casual_wl"></stat-basic>
            </div>
        </div>
    </div>
</template>

<script>
    import StatBasic from '../global/StatBasic.vue';
    export default {
        props: ['playerStats'],
        components: {
            StatBasic
        }
    }
</script>