<template>
    <div class="vue-content">

        <div class="col s12">

            <div class="card" :class="colour" v-if="xbox">
                <div class="card-content white-text">
                    <player-videos :username="username"></player-videos>
                </div>
            </div>

        </div>

        <div class="col s12 m12 l4">
            <div class="card" :class="colour">
                <div class="card-content white-text">
                    <div class="col parent s12"><h4 class="card-title">{{ username }}'s Stats</h4>
                    </div>
                    <player-stats :playerStats="playerStats" :playerInfo="playerInfo"></player-stats>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l8 parent">

            <div class="col s12">
                <div class="card" :class="colour">
                    <div class="card-content white-text">
                        <player-rank :playerStats="playerStats" :playerInfo="playerInfo"
                                     :playerRank="playerRank"></player-rank>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card" :class="colour">
                    <div class="card-content white-text">
                        <player-season-ranked-games :playerStats="playerStats" :playerInfo="playerInfo"
                                                    :playerRank="playerRank"></player-season-ranked-games>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card" :class="colour">
                    <div class="card-content white-text">
                        <player-ranked-stats :playerStats="playerStats" :playerInfo="playerInfo"></player-ranked-stats>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card" :class="colour">
                    <div class="card-content white-text">
                        <player-casual-stats :playerStats="playerStats" :playerInfo="playerInfo"></player-casual-stats>
                    </div>
                </div>
            </div>

        </div>

        <player-since-yesterday :playerStats="playerStats" :playerInfo="playerInfo" :colour="colour" :sofar="sofar"
                                :sofarseason="sofarseason" :currentseason="currentseason" :yesterday="yesterday"
                                :current="current" :currenttotals="currenttotals"></player-since-yesterday>
        <player-weekly :colour="colour" :username="this.username"></player-weekly>

    </div>

</template>

<script>

    import PlayerSinceYesterday from './Daily/SinceYesterday.vue';

    export default {

        props: ['colour', 'username', 'platform'],

        components: {
            PlayerSinceYesterday
        },

        data() {
            return {
                xbox: false,
                playerInfo: {
                    level: "",
                    playtime: "",
                    rank: "",
                    mmr: "",
                    kills: "",
                    seasonEnd: {
                        kills: "",
                        deaths: ""
                    },
                    seasonKdDiff: null,
                    seasonWlDiff: null,
                    seasonwl: null,
                    seasonkd: null
                },
                playerStats: {
                    all: "",
                    playtime: "",
                    rank: "",
                    mmr: "",
                    kills: "",
                    mmrSoFar: "",
                    seasonKills: null,
                    seasonDeaths: null,
                    seasonWins: null,
                    seasonLosses: null,
                    sinceYesterday: null
                },
                playerRank: {
                    rank: "",
                    mmr: ""
                },
                rank: "",
                ratios: {
                    overallkd: ""
                },
                seasonRatios: {
                    seasonwl: "",
                    seasonkd: ""
                },
                ranked: {
                    kills: ""
                },
                casual: {
                    wins: ""
                },
                season: {
                    wins: ""
                },
                current: {
                    kills: ""
                },
                yesterday: {
                    kills: ""
                },
                sofar: {
                    kills: ""
                },
                currenttotals: {
                    kills: "",
                    deaths: ""
                },
                sofarseason: {
                    points: ""
                },
                currentseason: {
                    points: ""
                }
            }
        },

        mounted() {

            const decimalplace = 3;
            var stats, t, previousSeason;
            t = this;

            previousSeason = 11;

            axios.get('/get/seasonEnd/' + previousSeason + '/' + this.platform + '/' + this.username).then(({data}) => {
                t.playerInfo.seasonEnd = data;
            });


            axios.get('/get/sinceyesterday/' + this.username).then(({data}) => {
                t.playerStats.sinceYesterday = data;
            });

            axios.get('/api-test/player/' + this.username + '?appcode=test?test').then(({data}) => {

                let d, player;

                player = data.players[Object.keys(data.players)[0]];

                // Format Data before outputting.
                d = new Date(player.update_time);

                // Player Card: General
                t.playerInfo.level = player.level;
                t.playerInfo.platform = player.platform;
                t.playerInfo.lastupdated = d.toLocaleDateString() + ", " + d.toLocaleTimeString();

                // Rank Card
                t.playerInfo.rank = player.rank;
                t.playerInfo.rating = Math.round(player.mmr);

                // Season Ranked Stats
                t.playerInfo.mmr = Math.round(player.mmr);
                t.playerInfo.seasonWins = player.wins;
                t.playerInfo.seasonLosses = player.losses;
                t.playerInfo.seasonAbandons = player.abandons;
                t.playerInfo.seasonWlDiff = t.playerInfo.seasonWins - t.playerInfo.seasonLosses;
                t.playerInfo.seasonwl = +(t.playerInfo.seasonWins / t.playerInfo.seasonLosses).toFixed(decimalplace);

                // Active 24hr Stats
                t.currentseason.points = t.playerInfo.mmr;

                console.log(player);

            });

            axios.get('/api-test/stats/' + this.username + '?appcode=test?test').then(({data}) => {

                let totalkills, totalgamesplayed;

                stats = data.players[Object.keys(data.players)[0]];

                // Format Data before outputting.
                totalkills = stats.casualpvp_kills + stats.rankedpvp_kills;
                totalgamesplayed = (stats.rankedpvp_matchwon + stats.rankedpvp_matchlost) + (stats.rankedpvp_matchwon + stats.casualpvp_matchlost);

                // Player Card: General
                if ( stats.rankedpvp_timeplayed && stats.casualpvp_timeplayed){
                    t.playerStats.playtime = +((((stats.rankedpvp_timeplayed + stats.casualpvp_timeplayed) / 60) / 60)).toFixed(decimalplace) + "  hrs";
                } else if ( stats.casualpvp_timeplayed){
                    t.playerStats.playtime = +((((stats.casualpvp_timeplayed) / 60) / 60)).toFixed(decimalplace) + "  hrs";
                }

                // Player Card: Technique
                t.playerStats.accuracy = +((stats.generalpvp_bullethit / stats.generalpvp_bulletfired) * 100).toFixed(decimalplace) + "%";
                t.playerStats.headshotrate = +((stats.generalpve_headshot / totalkills) * 100).toFixed(decimalplace) + "%";
                t.playerStats.headshots = stats.generalpvp_headshot;
                t.playerStats.melee_kills = stats.generalpvp_meleekills;
                t.playerStats.wallbangs = stats.generalpvp_penetrationkills;
                t.playerStats.stolenkills = stats.generalpvp_killassists;
                t.playerStats.revives = stats.generalpvp_revive;
                t.playerStats.suicides = stats.generalpvp_suicide;
                t.playerStats.walls = stats.generalpvp_reinforcementdeploy;
                t.playerStats.barricades = stats.generalpvp_barricadedeployed;

                // Player Card: Averages
                t.playerStats.shotsperkill = +(stats.generalpvp_bulletfired / totalkills).toFixed(decimalplace);
                t.playerStats.potentialkd = +((totalkills + stats.generalpvp_killassists) / (stats.rankedpvp_death + stats.casualpvp_death)).toFixed(decimalplace);
                t.playerStats.wallspergame = +(stats.generalpvp_reinforcementdeploy / totalgamesplayed).toFixed(decimalplace);
                t.playerStats.barricadespergame = +(stats.generalpvp_barricadedeployed / totalgamesplayed).toFixed(decimalplace);

                // Season Ranked Stats
                if (t.playerInfo.seasonEnd.kills !== 0) {
                    t.playerStats.seasonKills = stats.rankedpvp_kills - t.playerInfo.seasonEnd.kills;
                    t.playerStats.seasonDeaths = stats.rankedpvp_death - t.playerInfo.seasonEnd.deaths;
                } else {
                    t.playerStats.seasonKills = stats.rankedpvp_kills;
                    t.playerStats.seasonDeaths = stats.rankedpvp_death;
                }

                t.playerStats.seasonKdDiff = t.playerStats.seasonKills - t.playerStats.seasonDeaths;
                t.playerStats.seasonkd = +(t.playerStats.seasonKills / t.playerStats.seasonDeaths).toFixed(decimalplace);

                // Overall Ranked Stats
                t.playerStats.ranked_wl = +(stats.rankedpvp_matchwon / stats.rankedpvp_matchlost).toFixed(decimalplace);
                t.playerStats.ranked_wldiff = stats.rankedpvp_matchwon - stats.rankedpvp_matchlost;
                t.playerStats.ranked_kd = +(stats.rankedpvp_kills / stats.rankedpvp_death).toFixed(decimalplace);
                t.playerStats.ranked_kddiff = stats.rankedpvp_kills - stats.rankedpvp_death;

                // Overall Casual Stats
                t.playerStats.casual_wl = +(stats.casualpvp_matchwon / stats.casualpvp_matchlost).toFixed(decimalplace);
                t.playerStats.casual_wldiff = stats.casualpvp_matchwon - stats.casualpvp_matchlost;
                t.playerStats.casual_kd = +(stats.casualpvp_kills / stats.casualpvp_death).toFixed(decimalplace);
                t.playerStats.casual_kddiff = stats.casualpvp_kills - stats.casualpvp_death;

                // Active 24hr Stats
                t.current = stats;

                t.playerStats.mmrSoFar = t.playerInfo.mmr - t.playerStats.sinceYesterday.points;

                var sofarkills = stats.rankedpvp_kills - t.playerStats.sinceYesterday.kills;
                var sofardeaths = stats.rankedpvp_death - t.playerStats.sinceYesterday.deaths;
                var sofarwins = stats.rankedpvp_matchwon - t.playerStats.sinceYesterday.wins;
                var sofarlosses = stats.rankedpvp_matchlost - t.playerStats.sinceYesterday.losses;

                t.sofar.kills = sofarkills;
                t.sofar.deaths = sofardeaths;
                t.sofar.wins = sofarwins;
                t.sofar.losses = sofarlosses;

                t.sofar.kddiff = sofarkills - sofardeaths;
                t.sofar.wldiff = sofarwins - sofarlosses;

                if (sofardeaths === 0) {
                    t.sofar.kd = sofarkills;
                } else {
                    t.sofar.kd = +(Math.abs(sofarkills / Math.abs(sofardeaths))).toFixed(decimalplace);
                }

                if (sofarlosses === 0) {
                    t.sofar.wl = sofarwins;
                } else {
                    t.sofar.wl = +(Math.abs(sofarwins / Math.abs(sofarlosses))).toFixed(decimalplace);
                }

                t.currenttotals.kills = stats.rankedpvp_kills;
                t.currenttotals.deaths = stats.rankedpvp_death;
                t.currenttotals.wins = stats.rankedpvp_matchwon;
                t.currenttotals.losses = stats.rankedpvp_matchlost;
                t.currenttotals.kddiff = t.playerStats.ranked_kddiff;
                t.currenttotals.wldiff = t.playerStats.ranked_wldiff;
                t.currenttotals.kd = t.playerStats.ranked_kd;
                t.currenttotals.wl = t.playerStats.ranked_wl;

                // Full stats object
                t.playerStats.all = stats;

                // Debug output
                console.log(stats);

            });

        }
    }
</script>