<template>

    <div>
        <div class="col parent s12"><h4 class="card-title">Season Rank</h4></div>
        <h5>Rank: <span class="amber-text">{{ getPlayerInfo() }}</span></h5>
        <div class="rankicons">
            <div class="iconBox" v-for="(rank, index) in availableRanks">
                <div class="icon" :class="getClass(rank)"></div>
                <h6><span class=""><strong>{{ rank[0] }}</strong></span></h6>
                <h6><span class="">{{ rank[1] }}</span></h6>
                <!-- <h6 class="current-score"><span :class="this.headingColour">{{ getRankScore(playerInfo.rank, index ) }}</span></h6> -->
                <h6><span class="score-diff amber-text">{{ getRankScore(playerInfo.rank, index ) }}</span></h6>
            </div>
        </div>
    </div>

</template>

<script>

    import $ from 'jquery';

    export default {
        props: ['playerInfo'],
        data() {
            return {

                slickOptions: {
                    centerPadding: '60px',
                    slidesToShow: 7,
                    centerMode: true,
                    infinite: false,
                    dots: true,
                    responsive: [
                        {
                            breakpoint: 1680,
                            settings: {
                                centerPadding: '40px',
                                slidesToShow: 5
                            }
                        },
                        {
                            breakpoint: 1280,
                            settings: {
                                centerPadding: '40px',
                                dots: false,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 990,
                            settings: {
                                centerPadding: '40px',
                                dots: false,
                                slidesToShow: 5
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                arrows: true,
                                centerPadding: '40px',
                                dots: false,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                arrows: true,
                                centerPadding: '40px',
                                dots: false,
                                slidesToShow: 1
                            }
                        }
                    ]
                },

                availableRanks: {},

                getClass: function (rank) {
                    rank = rank[0];
                    return rank.replace(" ", "_");
                },

                getRating: function () {
                    if (this.playerInfo.rating) {
                        return Math.round(this.playerInfo.rating);
                    } else {
                        return "";
                    }
                },

                getPlayerInfo: function () {
                    if (this.playerInfo.rank) {
                        return this.availableRanks[this.playerInfo.rank][0];
                    }
                },

                getRankScore: function (score, rank) {

                    var diff = 0;
                    var prefix = "";

                    if (score && rank) { // if there is a Score and Rank (player has ranked in)

                        console.log("-----");
                        console.log("Rank: " + rank);
                        console.log("Rank Elo: " + this.availableRanks[rank][1]);
                        console.log("Score: " + score);
                        console.log("Current Elo: " + this.playerInfo.rating);
                        //console.log("Available Ranks: " +this.availableRanks);

                        // If there is a rank available above the current rank (not Champion)
                        if (this.availableRanks[rank + 1]) {

                            // Current rank score
                            if (rank === score){
                                diff = this.playerInfo.rating - this.availableRanks[rank][1];
                            } else  {
                                diff = this.availableRanks[rank][1] - this.playerInfo.rating;
                            }

                            if (diff > 0) {
                                prefix = "+";
                            } else {
                                prefix = "";
                            }

                        } else { // if the player is Champion

                            // if the ranking is higher than Champion, do the calculation the other way around
                            if (this.playerInfo.rating > this.availableRanks[23][1]) {

                                diff = this.playerInfo.rating - this.availableRanks[23][1];
                                prefix = "+";

                            } else {

                                diff = this.availableRanks[23][1] - this.playerInfo.rating;
                                prefix = "+";

                            }


                        }

                    } else {

                        diff = (this.playerInfo.rating - this.availableRanks[0][1]) + 1;
                        prefix = "-";

                    }

                    if (!isNaN(diff)) {
                        diff = prefix + Math.round(diff);
                        return diff;
                    }

                }
            }
        },
        updated(){

            const slider = $('.rankicons');
            slider.not('.slick-initialized').slick(this.slickOptions);

            if (this.playerInfo.rank) {
                //console.log(this.playerInfo);
                slider.slick('slickGoTo', this.playerInfo.rank, false);
            } else {
                //console.log(this.availableRanks);
            }


        },
        mounted(){
            axios.get('/get/ranks').then(response => {
                console.log(response.data);
                this.availableRanks = response.data;
            });
        }

    }
</script>