<template>
    <div>
        <div class="col parent s12"><h4 class="card-title">Overall Ranked Stats</h4></div>
        <div class="ratios">
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Kills'" :data="playerStats.all.rankedpvp_kills"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Deaths'" :data="playerStats.all.rankedpvp_death"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'K/D Diff'" :data="playerStats.ranked_kddiff" :colour="true"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'K/D'" :data="playerStats.ranked_kd"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Wins'" :data="playerStats.all.rankedpvp_matchwon"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'Losses'" :data="playerStats.all.rankedpvp_matchlost"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'W/L Diff'" :data="playerStats.ranked_wldiff" :colour="true"></stat-basic>
            </div>
            <div class="stat col s6 m4 l3">
                <stat-basic :title="'W/L'" :data="playerStats.ranked_wl"></stat-basic>
            </div>
        </div>
    </div>
</template>

<script>
    import StatBasic from '../global/StatBasic.vue';
    export default {
        props: ['data', 'ratios', 'playerStats'],
        components: {
            StatBasic
        }
    }
</script>