<template>
    <div>
        <div class="col parent s12"><h4 class="card-title">Ratios (ranked)</h4></div>
        <div class="ratios">
            <div class="stat col s6 m3">
                <stat-basic :title="'Overall K/D'" :data="ratios.overallkd"></stat-basic>
            </div>
            <div class="stat col s6 m3">
                <stat-basic :title="'Season K/D'" :data="seasonRatios.seasonkd"></stat-basic>
            </div>
            <div class="stat col s6 m3">
                <stat-basic :title="'Overall W/L'" :data="ratios.overallwl"></stat-basic>
            </div>
            <div class="stat col s6 m3">
                <stat-basic :title="'Season W/L'" :data="seasonRatios.seasonwl"></stat-basic>
            </div>
        </div>
    </div>
</template>

<script>
    import StatBasic from '../global/StatBasic.vue';
    export default {
        props: ['ratios', 'seasonRatios'],
        components: {
            StatBasic
        }
    }
</script>