<template>
    <div>
        <div class="col parent s12"><h4 class="card-title">Season Ranked Stats</h4></div>
        <div class="col parent s12 ratios">

            <div class="stat col s6 m2">
                <stat-basic :title="'Elo'" :data="playerInfo.mmr"></stat-basic>
            </div>
            <div class="stat col s6 m2">
                <stat-basic :title="'Kills'" :data="playerStats.seasonKills"></stat-basic>
            </div>
            <div class="stat col s6 m2">
                <stat-basic :title="'Deaths'" :data="playerStats.seasonDeaths"></stat-basic>
            </div>
            <div class="stat col s6 m2">
                <stat-basic :title="'K/D Diff'" :data="playerStats.seasonKdDiff" :colour="true"></stat-basic>
            </div>
            <div class="stat col s6 m2">
                <stat-basic :title="'K/D'" :data="playerStats.seasonkd"></stat-basic>
            </div>

            <div class="col s6 m2">&nbsp;</div>

            <div class="stat col s6 m2 clear">
                <stat-basic :title="'Wins'" :data="playerInfo.seasonWins"></stat-basic>
            </div>
            <div class="stat col s6 m2">
                <stat-basic :title="'Losses'" :data="playerInfo.seasonLosses"></stat-basic>
            </div>
            <div class="stat col s6 m2">
                <stat-basic :title="'Abandons'" :data="playerInfo.seasonAbandons" :colour="true"></stat-basic>
            </div>
            <div class="stat col s6 m2">
                <stat-basic :title="'W/L Diff'" :data="playerInfo.seasonWlDiff" :colour="true"></stat-basic>
            </div>
            <div class="stat col s6 m2" >
                <stat-basic :title="'W/L'" :data="playerInfo.seasonwl"></stat-basic>
            </div>

        </div>
    </div>
</template>

<script>
    import StatBasic from '../global/StatBasic.vue';

    export default {
        props: ['playerInfo', 'playerStats'],
        components: {
            StatBasic
        }
    }
</script>