<template>

    <div class="vue-content">
        <div class="col s12" id="info">

            <div class="info-list primary">
                <ul>
                    <list-item :title="'Level'" :data="playerInfo.level"></list-item>
                    <list-item :title="'Platform'" :data="playerInfo.platform"></list-item>
                    <list-item :title="'Time Served'" :data="playerStats.playtime"></list-item>
                    <list-item :title="'Last Updated'" :data="playerInfo.lastupdated"></list-item>
                </ul>
            </div>

            <div class="info-list">
                <ul class="collapsible" data-collapsible="expandable">
                    <li class="grey darken-4">
                        <div class="collapsible-header grey darken-3 active">
                            <h6>Technique & Involvement</h6>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <list-item :title="'Accuracy'" :data="playerStats.accuracy"></list-item>
                                <list-item :title="'Headshot Rate'" :data="playerStats.headshotrate"></list-item>
                                <list-item :title="'Headshots'" :data="playerStats.headshots"></list-item>
                                <list-item :title="'Melee Kills'" :data="playerStats.melee_kills"></list-item>
                                <list-item :title="'Wall Bangs'" :data="playerStats.wallbangs"></list-item>
                                <list-item :title="'Stolen Kills'" :data="playerStats.stolenkills"></list-item>
                                <list-item :title="'Revives'" :data="playerStats.revives"></list-item>
                                <list-item :title="'Suicides'" :data="playerStats.suicides"></list-item>
                                <list-item :title="'Walls'" :data="playerStats.walls"></list-item>
                                <list-item :title="'Barricades'" :data="playerStats.barricades"></list-item>
                            </ul>
                        </div>
                    </li>
                    <li class="grey darken-4">
                        <div class="collapsible-header grey darken-3 active">
                            <h6>Averages & Estimates</h6>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <list-item :title="'Shots Per Kill'" :data="playerStats.shotsperkill"></list-item>
                                <list-item :title="'Potential K/D'" :data="playerStats.potentialkd"></list-item>
                                <list-item :title="'Walls per Game'" :data="playerStats.wallspergame"></list-item>
                                <list-item :title="'Barricades per Game'" :data="playerStats.barricadespergame"></list-item>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</template>

<script>
    import ListItem from '../global/ListItem.vue';
    export default {

        props: ['playerInfo', 'playerStats'],
        components: {
            ListItem
        }

    }
</script>
