<template>

    <div>
        <div class="col parent s12"><h4 class="card-title">Last 5 Game Captures</h4></div>
        <div class="video-slider">
            <video-item v-for="(video, index) in videos" :index="getVideoIndex(index)" :date="video.dateRecorded" :img="video.thumbnails[0].uri" :url="video.gameClipUris[0].uri"></video-item>
        </div>

        <div v-show="video_loading" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>

</template>

<script>
    import VideoItem from './VideoItem.vue';
    import Slick from 'vue-slick';
    import $ from 'jquery';

    export default {
        props: ['username'],
        components: {
            Slick
        },
        methods: {
            getVideoIndex: function(index){
                return Object.keys(this.videos).length - index;
            },
        },
        data() {
            return {
                videos: {},
                video: null,
                video_loading: true
            }
        },
        updated(){
            this.video_loading = false;
        },
        mounted(){
            axios.get('/get/videos/' + this.username).then(response => {
                this.videos = response.data;

                $(document).ready(function () {
                    $('.video-slider').slick({
                        centerPadding: '60px',
                        slidesToShow: 3,
                        infinite: true,
                        dots: true,
                        responsive: [
                            {
                                breakpoint: 1280,
                                settings: {
                                    arrows: true,
                                    centerMode: true,
                                    centerPadding: '40px',
                                    dots: false,
                                    slidesToShow: 2
                                }
                            },
                            {
                                breakpoint: 900,
                                settings: {
                                    arrows: true,
                                    centerMode: true,
                                    centerPadding: '40px',
                                    dots: false,
                                    slidesToShow: 1
                                }
                            }
                        ]
                    });
                });
            })
        }
    }
</script>
