<template>

    <div class="video">

        <img class="z-depth-2" v-if="!clicked" @click="clicked=true" width="100%" height="auto" style="margin-bottom:10px;" :src="img"/>

        <video v-else :video-id="'videoId_' + index" class="video-player-html5 z-depth-2" width="100%" controls autoplay :poster="img" preload="none">
            <source :src="url" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="video-info">
            <h4>#{{ index }} Recorded: {{ date }}
                <a class="clipboard" :data-clipboard-text="url">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </a>
                <a :href="url" download="Xbox Capture">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </h4>
        </div>
    </div>

</template>

<script>
    import Clipboard from "../../../../../node_modules/clipboard/dist/clipboard.min.js";
    export default {
        props: ['url', 'img', 'videoId', 'index', 'date'],
        data() {
            return {
                clicked: false
            }
        },
        updated(){

        },
        mounted(){
            //this.video_loading = false;
            var clipboard = new Clipboard('.clipboard');
            clipboard.on('success', function (e) {
//                console.info('Action:', e.action);
//                console.info('Text:', e.text);
//                console.info('Trigger:', e.trigger);
//
//                e.clearSelection();
            });
        }
    }
</script>