<template>
    <div class="platform-icon" :class="platform">
        <img :src="img" :id="'image_' + platform"/>
        <div class="progress-container">
            <div :id="'result_' + platform"></div>
            <div class="searching" v-show="search_loading">
                <h4>Searching...</h4>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['platform', 'img', 'username'],
        data() {
            return {
                search_loading: true
            }
        },
        mounted(){

            // Define images and results box
            var image = document.getElementById('image_' + this.platform);
            var resultBox = document.getElementById('result_' + this.platform);

            // Check the DB to see if the player has been searched before, otherwise do a fresh API call
            axios.get('/player/check' + this.platform + "/" + this.username).then(checkResponse => {

                var t = this;
                setTimeout(function () {
                    //window.location.href = "/player/" + t.platform + "/" + t.username + "?search=true";
                }, 100);

            }).catch(checkError => {

                // Make AJAX request to API
                axios.get('https://api.r6stats.com/api/v1/players/' + this.username + '/?platform=' + this.platform)
                    .then(apiResponse => {

                        // Save player to DB
                        axios.get('/player/save/' + this.platform + '/' + this.username)
                            .then(saveResponse => {

                                var t = this;

                                // TODO: Save API call to cache

                                // Set flags to "found" and redirect to player page
                                image.className = "found";
                                resultBox.innerHTML = "<h4>Player found<br>loading profile...</h4>";
                                this.search_loading = false;
                                setTimeout(function () {
                                    //window.location.href = "/player/" + t.platform + "/" + t.username + "?search=true";
                                }, 100);

                            }).catch(saveError => {
                            //console.log(saveError);
                        });

                    }).catch(apiError => {

                    // Set flags to "not found" and display message
                    image.className = "not-found";
                    resultBox.innerHTML = "<h4>Player not found</h4>";

                    this.search_loading = false;

                });

            });

        }
    }
</script>