// Settings
@import "../settings/colours";
// Mixins
@import "../mixins/typography";
@import "../mixins/select";
// Elements
@import "../elements/rank_icons";
@import "../elements/tables";
@import "../elements/selects";
@import "../elements/search";
@import "../elements/classes";
// Components
@import "../components/header";
@import "../components/main";
@import "../components/footer";

body {
  overflow-y      : scroll;
  background      : url("/images/wallpaper.jpg") no-repeat top center fixed;
  background-size : cover;
}

.panel-default {
  background-color : rgba(0, 0, 0, 0.85) !important;
}

#loading {
  margin : 20px 0;
}

#txtArea {
  float         : left;
  width         : 100%;
  min-height    : 200px;
  margin-bottom : 20px;
}

.points {
  color : $yellow !important;
}

.rankName {
  color : #666666;
}

.rankScore {
  color       : white;
  font-size   : 14px;
  font-weight : 800;
}

.rankDiff {
  color       : $yellow;
  font-weight : 800;
}