@mixin large-button() {
  padding        : 20px 0;
  border-radius  : 0;
  text-transform : uppercase;
  font-weight    : 800;
  font-size      : 32px;
  width          : 100%;
  outline        : none;
  border         : 0px;
  &:active {
    outline : none;
  }
  @media (max-width : $screen-phone) {
    font-size : 24px !important;
  }
}
