@mixin heading($size) {
  text-transform : uppercase;
  font-weight    : 800;
  text-align     : center;
  letter-spacing : -1px;
  @if $size == "h2" {
    background-image  : url('/images/siege-symbol.png');
    background-repeat : no-repeat;
    background-size   : contain;
    display           : inline;
    padding           : 0 0 0 35px;
    font-size         : 22px;
    color             : $brand-warning;
  }
  @if $size == "h3" {
    font-size : 18px;
  }
}
