.r6-symbol {
  width      : auto;
  max-height : 30px;
  float      : left;
}

.navbar-default {
  background-color : transparent;
  border-color     : transparent;
}

.navbar-brand {
  margin     : auto;
  float      : none;
  display    : block;
  text-align : center;
  span {
    display        : inline-block;
    padding        : 3px;
    text-transform : uppercase;
    font-weight    : 800;
  }
}

.fa {
  margin-right : 5px;
}

.tabs {
  h2 {
    float  : left;
    width  : 33.33%;
    margin : 10px 0;
    a {
      display         : block;
      padding         : 10px 0;
      text-align      : center;
      font-size       : 18px;
      font-weight     : 600;
      text-transform  : uppercase;
      text-decoration : none;
      background      : #21698e;
      color           : #24afd7;
      &:hover {
        background : #237ba2;
        color      : #25d0f9;
      }
    }
    @media (max-width : $screen-phone) {
      i {
        margin : 0;
      }
    }
    span {
      @media (max-width : $screen-phone) {
        clear      : both;
        font-size  : 13px;
        clear      : both;
        font-size  : 13px;
        display    : block;
        width      : 100%;
        margin-top : 3px;
      }
    }
  }
  .trackerTab {

  }
  .statsTab {

  }
  .teamTab {

  }
  .tab.active,
  .statsTab.active,
  .trackerTab.active,
  .teamTab.active {
    h2 a {
      background : #238db4;
      color      : white;
    }
  }
}

.tabs.not-logged-in {
  h2 {
    width : 100%;
  }
}