@import "main--tracker";
@import "main--stats";
@import "main--games";
@import "main--session";
@import "main--team";

#app > .container {
  h2 {
    @include heading(h2);
  }
  h3 {
    @include heading(h3);
  }
}
