.green {
  color : #60a530;
  .no-colours {
    clear     : both;
    width     : 100%;
    float     : left;
    color     : gray;
    font-size : 13px;
  }
}

.red {
  color : #ff4222;
  .no-colours {
    clear     : both;
    float     : left;
    width     : 100%;
    color     : gray;
    font-size : 13px;
  }
}

.no-colours .green, .no-colours.green, .no-colours.red {
  color : inherit;
}

.date {
  font-size   : 12px;
  font-weight : bold;
}

.kills-column.donut {
  background          : url(/images/donut.png);
  background-size     : 30%;
  background-repeat   : no-repeat;
  background-position : center center;
  text-indent         : -10000px;
}
