.session {
  clear  : both;
  margin : 0 0 30px 0;
  h2 {
    width  : auto;
    clear  : none;
    margin : 0 0 20px 0;
  }
  .btn-default {
    float : right;
    clear : none;
  }
}

.previous-sessions {
  float  : left;
  width  : 100%;
  margin : 0 0 20px 0;
}

.session_message {
  float          : left;
  width          : 100%;
  padding        : 10px;
  margin-top     : -15px;
  margin-bottom  : 20px;
  background     : #aaaaaa;
  color          : #000000;
  text-transform : uppercase;
  font-weight    : 600;
  &.active {
    //background : $session;
    //color      : $session-text;
  }
  @media (max-width : $screen-phone) {
    font-size : 14px;
  }
}

#endSession {
  //background    : $session;
  //color         : $session-text;
  margin-bottom : 30px;
  border        : 0px;
}

.session-table tbody tr.result-row, .map-heading {
  display : none;
}

//.session-heading {
//  cursor   : pointer;
//  position : relative;
//  &:after {
//    font-family : FontAwesome;
//    content     : "\f0ab";
//    position    : absolute;
//    right       : 20px;
//    top         : 10px;
//  }
//  &.active {
//    &:after {
//      content : "\f0aa";
//    }
//  }
//}

.session-heading {
  cursor : pointer;
  &:hover {
    background : black;
  }
}

.totals {
  background : black;
}