@import "../mixins/buttons";

// Kill and Death Buttons
#kills, #deaths {
  .btn {
    @include large-button();
  }
}

// End Game Button
div.endgame {
  float  : left;
  width  : 100%;
  margin : 20px 0;

  .endgameBtn {
    @include large-button();
  }

  form#endgame {
    display       : block;
    margin-bottom : 20px;
  }

}

// Kills and Deaths (inputs and buttons)
.form-group.large {

  text-align : center;
  label {
    background    : black;
    color         : white;
    padding       : 5px;
    display       : block;
    margin-bottom : 0;
    border-bottom : 2px solid $brand-warning;
  }
  input {
    border-radius : 0;
    text-align    : center;
    font-size     : 48px;
    line-height   : 2;
    height        : auto;
    background    : #333333;
    color         : white;
  }
}

#operators {
  margin : 20px 0 0 0;
  float  : left;
  width  : 100%;
  select {
    @include select();
  }
}

.kills-column {
  padding-right : 10px;
}

.deaths-column {
  padding-left : 10px;
}