.player-names {
  float  : left;
  width  : 100%;
  margin : 0 0 20px 0;
  ul {
    list-style : none;
    float      : left;
    width      : 100%;
    margin     : 0 0 10px;
    padding    : 0;
    li {
      list-style    : none;
      margin-bottom : 5px;
      float         : left;
      width         : 100%;
      input {
        width   : 80%;
        float   : left;
        padding : 5px;
        border  : 0px;
        @media (max-width : $screen-phone) {
          width : 70%;
        }
      }
      .controls {
        width : 20%;
        float : left;
        .add, .remove {
          float      : left;
          width      : 50%;
          text-align : center;
          padding    : 5px;
        }
        @media (max-width : $screen-phone) {
          width : 30%;
        }
      }
    }
  }
}

#savemessage {
  padding : 20px 0 0 0;
  display : none;
}